akka {
    loglevel = "DEBUG"
    loggers=["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
    actor {
        provider = remote
    }
    remote {
        helios.tcp {
            port = 10090
            hostname = localhost
        }

    }
}