akka {  
    loglevel = "DEBUG"
    loggers=["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
    actor {
        provider = remote
        deployment {
            /remoteecho {
                remote = "akka.tcp://hostappakkasystem@localhost:10090"
            }
        }
    }
    remote {
        helios.tcp {
		    port = 0
		    hostname = localhost
        }

    }
}