akka {  
    loglevel = "DEBUG"
    loggers=["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
    actor {
        provider = remote
    }
    remote {
        dot-netty.tcp {
		    port = 0
		    hostname = localhost
        }
log-remote-lifecycle-events = DEBUG
    }
}